:root{
    --bg1: #4a4a4a;
    --bg2: #404040;
    --bg3: #242424;
    --txt1: #f2f2f2;
    --mainc1: #f53b22;
    --mainc2: #d63b27;
    --mtransp1 : rgb(245, 59, 34, .3);
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: var(--txt1);
    font-size: 12px;
    background-image: url(../assets/fond.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: var(--txt1);
}

.container{
    padding: 0 25px;
}

/* SCROLLBAR */



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg2);
}



/** NAVBAR **/




.navbar-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg3);
    padding: 5px 25px;
}

.logopan{
    display: flex;
    align-items: center;
    gap: 10px;
}

.panier{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.panier:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--mainc1);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.panier:hover:after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.notif-panier{
    width: 12px;
    height: 12px;
    background-color: var(--mainc1);
    border-radius: 50px;
    font-size: 10px;
    padding:2px;
    text-align: center;
    line-height: 12px;
}

.logo{
    width: 35px;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--txt1);
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--bg1);
    box-shadow: 2px 2px 6px var(--bg3);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--txt1);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: var(--bg2);
  }



  /** FOOTER **/



  .footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 5px 25px;
    background-color: var(--bg3);
    font-size: 10px;
    text-transform: uppercase;
  }



  /** REGISTER **/



  .display-log{
    display: flex;
    background-color: var(--bg2);
    margin: 50px 100px;
  }

  .register-log{
    display: flex;
    flex-direction: column;
    background-color: var(--mainc1);
    width: 30%;
    height: auto;
    padding: 16% 20px;
    gap: 20px;
  }

  .register-txt{
    text-align: center;
  }

  .register-button{
    background-color: var(--txt1);
    color: var(--mainc1);
    border-radius: 20px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
  }

  .register-button:hover{
    padding-left: 25px;
    transition: 0.3s;
  }

  .register-display{
    padding: 20px;
    margin: auto;
  }

  .register-disp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
  }

  .register-input{
    border: 1px solid var(--txt1);
    background: none;
    padding: 15px;
    color: var(--txt1);
    width: 600px;
    border-radius: 5px;
  }

  .register-submit{
    background-color: var(--mainc1);
    border: 0;
    color: var(--txt1);
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
  }

  .register-submit:hover{
    background-color: var(--mainc2);
    transition: 0.3s;
  }

  .login-log{
    display: flex;
    flex-direction: column;
    background-color: var(--mainc1);
    width: 30%;
    height: auto;
    padding: 11% 20px;
    gap: 20px;
  }



  /* HOMEPAGE */


  .hp-card-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 0;
  }

  .hp-card{
    width: 32%;
    background-color: var(--bg3);
    border: 1px solid var(--mtransp1);
    transition: 0.6s;
  }

  .hp-card:hover{
    border: 1px solid var(--mainc1);
    transition: 0.6s;
  }

  .hp-img{
    width: 100%;
  }

  .hp-button-img{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }

  .hp-txt-card{
    margin: 10px;
  }

  .card-title{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }
  
  .card-txt{
    height: 80px;
    overflow: auto;
  }

  .card-link{
    margin-top: 10px;
    display: flex;
    background-color: var(--mainc1);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
  }

  .card-link:hover{
    background-color: var(--mainc2);
    padding-left: 15px;
    transition: 0.3s;
  }

  .card-link-price{
    margin-top: 10px;
    display: flex;
    background-color: var(--mainc1);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
  }

  .card-link-price:hover{
    background-color: var(--mainc2);
    transition: 0.3s;
  }

  .card-price{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }