:root{
    --bg1: #4a4a4a;
    --bg2: #404040;
    --bg3: #242424;
    --txt1: #f2f2f2;
    --mainc1: #f53b22;
    --mainc2: #d63b27;
    --mtransp1 : rgb(245, 59, 34, .3);
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 120%;
    font-family: 'Inter', sans-serif;
    color: var(--txt1);
    font-size: 12px;
    background-image: url(../assets/fond.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: var(--txt1);
}

.container{
    padding: 0 25px;
}

hr{
  margin: 10px 0;
}

.button{
  cursor: pointer;
}

/* SCROLLBAR */



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg2);
}



/** NAVBAR **/



.hamburger-menu{
display: flex;
flex-direction: row;
gap: 20px;
align-items: center;
}

.navbar-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg3);
    padding: 5px 25px;
}

.logopan{
    display: flex;
    align-items: center;
    gap: 10px;
}

.panier{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding: 0.2em 0;
}

.panier:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--mainc1);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.panier:hover:after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.notif-panier{
    width: 12px;
    height: 12px;
    background-color: var(--mainc1);
    border-radius: 50px;
    font-size: 10px;
    padding:2px;
    text-align: center;
    line-height: 12px;
}

.logo{
    width: 35px;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--txt1);
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--bg1);
    box-shadow: 2px 2px 6px var(--bg3);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--txt1);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: var(--bg2);
  }



  /** FOOTER **/

  .footer_parent{
    position: relative;
  }

  .footer{
    padding: 5px 25px;
    background-color: var(--bg3);
    font-size: 10px;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
  }



  /** REGISTER **/



  .display-log{
    display: flex;
    background-color: var(--bg2);
    margin: 50px 100px;
  }

  .register-log{
    display: flex;
    flex-direction: column;
    background-color: var(--mainc1);
    width: 30%;
    height: auto;
    padding: 16% 20px;
    gap: 20px;
  }

  .register-txt{
    text-align: center;
  }

  .register-button{
    background-color: var(--txt1);
    color: var(--mainc1);
    border-radius: 20px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
  }

  .register-button:hover{
    padding-left: 25px;
    transition: 0.3s;
  }

  .register-display{
    padding: 20px;
    margin: auto;
  }

  .register-disp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
  }

  .register-input{
    border: 1px solid var(--txt1);
    background: none;
    padding: 15px;
    color: var(--txt1);
    width: 600px;
    border-radius: 5px;
  }

  .area{
    min-height: 100px;
    font-family: inter;
  }

  .register-submit{
    background-color: var(--mainc1);
    border: 0;
    color: var(--txt1);
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  .register-submit:hover{
    background-color: var(--mainc2);
    transition: 0.3s;
  }

  .login-log{
    display: flex;
    flex-direction: column;
    background-color: var(--mainc1);
    width: 30%;
    height: auto;
    padding: 11% 20px;
    gap: 20px;
  }



  /* HOMEPAGE */


  .button-up{
    margin: 20px 0 20px 0; 
    width: 120px;
    transition: 0.3s;
    display: flex;
    background-color: var(--mainc1);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
  }

  .button-up:hover{
    background-color: var(--mainc2);
    transition: 0.3s;
  }

  .card-contain{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .hp-card-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px 0;
  }

  .hp-card{
    width: 32%;
    background-color: var(--bg3);
    border: 1px solid var(--mtransp1);
    transition: 0.6s;
    margin-bottom: 25px;
  }

  .hp-card:hover{
    border: 1px solid var(--mainc1);
    transition: 0.6s;
  }

  .hp-img{
    width: 100%;
  }

  .hp-button-img{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }

  .hp-txt-card{
    margin: 10px;
  }

  .card-title{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }
  
  .card-txt{
    height: 80px;
    overflow: auto;
  }

  .card-link{
    margin-top: 10px;
    display: flex;
    background-color: var(--mainc1);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
  }

  .card-link:hover{
    background-color: var(--mainc2);
    padding-left: 15px;
    transition: 0.3s;
  }

  .card-link-price-a{
    margin-top: 10px;
    display: flex;
    background-color: var(--mainc1);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    border: 0;
    font-family: inter;
    color: var(--txt1);
  }

  .card-link-price{
    margin-top: 10px;
    display: flex;
    background-color: var(--mainc1);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    border: 0;
    font-family: inter;
    color: var(--txt1);
  }

  .card-link-price:hover{
    background-color: var(--mainc2);
    transition: 0.3s;
  }

  .card-price{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .calories{
    padding: 3px;
    margin-top: 5px;
    background-color: var(--mtransp1);
    width: 90px;
    text-align: center;
  }

  .button-display{
    display: flex;
    flex-direction: row;
  }

  .carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);

    .carousel {
      width: 100%;
      overflow: hidden;

    .item {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: none;
      transition: opacity 0.5s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &.active {
      opacity: 1;
      display: block;
    }
    }
  }
}

.car-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn{
  background-color: var(--mtransp1);
  border: 0;
  color: var(--txt1);
  height: 150px;
  font-family: inter;
  width: 30px;
}

.txt-card{
  margin: 10px;
}

/* PROFIL */

.profil-log{
  display: flex;
  flex-direction: column;
  background-color: var(--mainc1);
  width: 20%;
  height: auto;
  padding: 20% 20px;
  gap: 20px;
}


/* PANIER */



.display-basket{
  display: flex;
  background-color: var(--bg2);
  margin: 50px 100px;
}

.comm-table{
  width: 100%;
}

.comm-head{
  width: 100%;
  background: var(--mainc1);
}

.comm-tit{
  padding: 10px;
  text-transform: uppercase;
}

.comm-ele{
  padding: 8px;
}

.modif{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comm-modif{
  width: 30px;
  height: 30px;
  border: 0;
  color: var(--txt1);
  font-family: inter;
  background-color: var(--mainc1);
  border-radius: 50px;
  text-align: center;
  line-height: 30px;
  padding: 0;
}

.comm-payer, .comm-vide{
  background-color: var(--mainc1);
  border: 0;
  font-family: inter;
  color: var(--txt1);
  padding: 5px 25px;
  border-radius: 2px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.comm-vide{
  width: 20%;
}

table {
  border:none;
  border-collapse: collapse;
}

table td{
  height: 30px;
}

table tr {
  border-bottom: 1px solid var(--bg3);
}

table tr:last-child {
  border-bottom: none;
}


/* MODIFIER PRODUIT / MENU */

.modify-disp{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
}

.modify-display{
  padding: 20px;
  margin: auto;
}

.modify-input{
  border: 1px solid var(--txt1);
  background: none;
  padding: 15px;
  color: var(--txt1);
  width: 800px;
  border-radius: 5px;
}

.modify-submit{
  background-color: var(--mainc1);
  border: 0;
  color: var(--txt1);
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  margin: 20px 0;
}

.inp-disp{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}



/* listes */


ul{
  list-style-type: none;
  margin: 25px 0;
}

.checkbox{
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: none;
  border: 1px solid var(--bg3);
}

.prod-display{
  display: flex;
  flex-direction: row;
}


.basket-contain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg3);
  padding: 5px 25px;
}


/* RESPONSIVE */



@media screen and (max-width: 767px){
  .hp-card-contain{
    flex-direction: column;
    gap: 20px;
  }

  .hp-card{
    width: 100%;
  }

  .comm-table{
    overflow-x:auto;
  }

  .display-log{
    margin: 50px 20px;
  }

  .display-basket{
    display: flex;
    background-color: var(--bg2);
    margin: 50px 20px;
  }

  table tr {
    border-bottom: 3px solid;
    display: block;
  }

  table td {
    border-bottom: 1px solid;
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .basket-contain{
    flex-direction: column;
  }

  .modify-input{
    width: 100px;
  }

  .register-input{
    width: 200px;
  }

  .prod-display{
    display: flex;
    flex-direction: row;
  }

  .card-price{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .card-link-price-a{
  width: 100%;
  }

  .register-input{
    width: 250px;
  }

  .display-log{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .login-log{
    width: 90%;
  }

  .register-log{
    width: 90%;
  }

  .profil-log{
    width: 90%;
  }
}